@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
  box-sizing: border-box;
}

body {
  background: #333333;
  color: #b7b7b7;
  font-family: 'Lato', sans-serif;
}

img {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  object-fit: cover;
}

span {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Passion One', cursive;
  font-size: 49px;
  font-weight: 700;
}

h1 {
  font-family: 'Oswald', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  /* gap: 16px; */
  background: none;
  align-items: center;
}

/* div, nav {
    background: #171717;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;

  width: 100%;
  height: 72px;

  padding: 10px;
}

div div:not(#root > div) {
    border: 1px solid #4D4D4D
} */

/* div:not(#root) {
  display: flex;
  flex-direction: column;
  gap: 20px;

  border-radius: 16px;
} */

/*div div:not(#root > div) {
  border: 1px solid #4d4d4d;
}*/

input,
button {
  border-radius: 5px;
}

button {
  border: none;
  background: #1877f2;
  color: #ffffff;
}
